@import './variables.scss';

@font-face {
  font-family: 'Worksans';
  src: url('../assets/fonts/Worksans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Worksans';
  src: url('../assets/fonts/Worksans-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Worksans';
  src: url('../assets/fonts/Worksans-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Worksans';
  src: url('../assets/fonts/Worksans-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Worksans';
  src: url('../assets/fonts/Worksans-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/fonts/Ubuntu-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/fonts/Ubuntu-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Ubuntu';
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1370px;
  margin: 0 auto;
  padding: 0 15px;
}

.app-btn {
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  padding: 16px 22px;
  font-family: 'Ubuntu';
  font-weight: 500;
  background-color: var(--color-denim);
  border-radius: var(--small-offset-border);
  color: var(--color-white);
}

.list-reset {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

