:root {
  // colors
  --color-denim: #116acc;
  --color-white: #ffffff;
  --color-athens-gray: #f3f4f6;
  --color-gray-chateau: #9ca3af;

  // border
  --big-offset-border: 50px;
  --small-offset-border: 7px;
}
